html {
  font-family: "Comic Sans MS", monospace, Courier;
  margin: 0;
  padding: 0;
  justify-self: center;
}

body {
  width: 600px;
  margin: 0 auto;
  padding: 20px 20px 50px 20px;
  background-color: #b2ffbf;
}

.topLogo {
  display: block;
  margin: 0 auto;
  width: 70%;
}

#navigate-classic {
  height: 40px;
  width: 100%;
  border-radius: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgba(53, 255, 2, 0.712);
}
.nav {
  font-size: 22px;
  margin: 0 6px 0 5px;
}
#navigate-new {
  display: none;
}
.show {
  height: 40px;
  width: 100%;
  border-radius: 40px;
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;;
  align-items: center;
  margin: 0 0 0 0;
  background-color: rgba(53, 255, 2, 0.712);
}
.flex-item {
  font-size: 22px;
  margin: 0 6px 0 5px;
}
#button {
  border: solid 2px black;
  border-radius: 20px;
  color: black;
  background-color: rgb(187, 127, 255);
}
#select {
  border: solid 2px black;
  border-radius: 20px;
  color: black;
  background-color: rgb(187, 127, 255);
}
#switchButton {
  position: relative;
  top: 90px;
  left: 520px;
  border-radius: 20px;
  display: block;
  background-color: rgb(187, 127, 255);
  font-size: 20px;
}
#switchButton:active {
  background-color: red;
  box-shadow: 3px 3px 3px rgb(0, 255, 234);
}

.line {
  border-top: double 4px black;
  width: 90%;
  display: block;
  margin: 20px auto;
}

.cafe {
  width: 100%;
  display: grid;
  gap: 2px;
  grid-template-columns: 1fr 1fr;
}
.cafeImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cafeImg1 {
  border-radius: 0 100px 0 100px;
}
.cafeImg2 {
  border-radius: 100px 0 100px 0;
}
.cafeImg3 {
  border-radius: 100px 0 100px 0;
}
.cafeImg4 {
  border-radius: 100px 0 100px 0;
  transform: scaleX(-1);
}

h3 {
  display: block;
  text-align: center;
}

.heroes {
  display: flex;
  flex-direction: column;
}
.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row2 {
  width: 66%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
figcaption {
  text-align: center;
}
.avatar {
  height: 120px;
  width: 120px;
}

.fact {
  height: 30px;
  width: 100%;
  margin: 5px auto;
  background-color: rgb(187, 127, 255);
  border: solid 1px black;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fact button {
  position: relative;
  right: 7px;
  height: 20px;
  width: 90px;
  border: solid 1px black;
  border-radius: 20px;
}
.fact p {
  position: relative;
  left: 20px;
}
.factTextShow {
  display: block !important;
}
#text1 {
  display: none;
}
#text2 {
  display: none;
}
#text3 {
  display: none;
}
#text4 {
  display: none;
}
#text5 {
  display: none;
}