html {
  font-family: "Comic Sans MS", monospace, Courier;
  margin: 0;
  padding: 0;
  justify-self: center;
}
 
body {
  width: 600px;
  margin: 0 auto;
  padding: 20px 20px 50px 20px;
  background-color: rgba(211, 36, 36, 0.562);
}
 
#navigate-classic {
  height: 40px;
  width: 100%;
  border-radius: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgba(255, 2, 15, 0.295);
}

.nav {
  font-size: 22px;
  margin: 0 6px 0 5px;
}

#navigate-new {
  display: none;
}

#switchButton {
  position: relative;
  top: 90px;
  left: 520px;
  border-radius: 20px;
  display: block;
  background-color: gold;
  font-size: 20px;
}
#switchButton:active {
  background-color: red;
  box-shadow: 3px 3px 3px rgb(0, 255, 234);
}

.show {
  height: 40px;
  width: 100%;
  border-radius: 40px;
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;;
  align-items: center;
  margin: 0 0 0 0;
  background-color: rgba(255, 2, 15, 0.295);
}
.flex-item {
  font-size: 20px;
  margin: 0 6px 0 5px;
}
#button {
  border: solid 2px black;
  border-radius: 20px;
  color: black;
  background-color: rgba(255, 2, 15, 0.295);
}

#select {
  border: solid 2px black;
  border-radius: 20px;
  color: black;
  background-color: rgba(255, 2, 15, 0.295);
}

h1 {
  text-align: center;
  border: solid;
  margin: 5px;
}

h2 {
  text-align: center;
}

.commonImg1 {
  height: 30%;
  width: 30%;
  float: right;
}
.commonImg2 {
  width: 100%;
  border: solid 5px gold;
  border-radius: 60px;
}

#ChisatoAlbum {
  float: right;
  height: auto;
  width: auto;
  border: solid 5px gold;
  display: grid;
  gap: 2px;
  margin: 10px 0 50px 0;
  grid-template-rows: calc(50% - 1px) calc(50% - 1px);
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  justify-items: stretch;
}

.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span {
  color: rgb(228, 0, 0);
}