html {
  font-family: "Comic Sans MS", monospace, Courier;
  margin: 0;
  padding: 0;
  justify-self: center;
}
  
body {
  width: 600px;
  margin: 0 auto;
  padding: 20px 20px 50px 20px;
  background-color: #fff4b2;
}

h1 {
  text-align: center;
  border: solid;
  margin: 5px;
}

#navigate-classic {
  height: 40px;
  width: 100%;
  border-radius: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgba(255, 230, 2, 0.712);
}
.nav {
  font-size: 22px;
  margin: 0 6px 0 5px;
}
#navigate-new {
  display: none;
}
.show {
  height: 40px;
  width: 100%;
  border-radius: 40px;
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;;
  align-items: center;
  margin: 0 0 0 0;
  background-color: rgba(255, 230, 2, 0.712);
}
.flex-item {
  font-size: 20px;
  margin: 0 6px 0 5px;
}
#button {
  border: solid 2px black;
  border-radius: 20px;
  color: black;
  background-color: aquamarine;
}
#select {
  border: solid 2px black;
  border-radius: 20px;
  color: black;
  background-color: aquamarine;
}

#switchButton {
  position: relative;
  top: 90px;
  left: 520px;
  display: block;
  border-radius: 20px;
  background-color: aquamarine;
  font-size: 20px;
}
#switchButton:active {
  background-color: red;
  box-shadow: 3px 3px 3px rgb(0, 255, 234);
}

h2 {
  text-align: center;
}

span {
  color: goldenrod;
}

.commonImg1 {
  float: right;
}
 
.commonImg2 {
  float: left;
}

#KurumiAlbum {
  float: right;
  height: auto;
  width: auto;
  border: solid 5px aquamarine;
  display: grid;
  gap: 2px;
  margin: 0 0 50px 0;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  justify-items: stretch;
}

.pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}